.text_primary {
  color: hsl(217, 12%, 63%);
}

.bg_selected {
  background-color: hsl(217, 12%, 63%);
}

.text_secondary {
  color: hsl(25, 97%, 53%);
}

.bg_button {
  background-color: hsl(25, 97%, 53%);
}
.bg_button:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
}

.bg_card {
  background-color: hsl(214, 20%, 14%);
}

.bg_secondary {
  background-color: hsl(213, 19%, 18%);
}
button.bg_secondary:hover, .bg_selected:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}
